.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal {
  background-color: #fff;
  width: 300px;
  height: 100%;
  border-radius: 8px;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.modal-header {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header div {
  font-size: 18px;
}

.modal-header i {
  font-size: 20px;
  cursor: pointer;
  color: #75767a;
}

.modal-body {
  padding-top: 20px;
}

.comment-section-input {
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 1px 1px 5px 1px #dddddd;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.comment-list {
  padding-top: 30px;
}

.user-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  color: #68686b;
  font-size: 12px;
}

.comment-icons i {
  cursor: pointer;
}

.profile-section {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0px;
}

.image-container {
  width: 30px;
  height: 30px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

textarea {
  border-radius: 5px;
}

.comment-btn {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.comment-btn button {
  padding: 4px 8px;
}
