<div class="loading-container" *ngIf="blogsLoading">
  <div class="loading-spinner"></div>
</div>

<div class="card-container" *ngIf="!blogsLoading">
  <div class="list-filter">
    <select name="" id="" [(ngModel)]="selectedTag" (change)="filterByTag()">
      <option value="" disabled *ngIf="tagsLoading">Loading...</option>
      <option value="" selected disabled>Select Tag</option>
      <option *ngFor="let tag of tags" [value]="tag.id">
        {{ tag.name }}
      </option>
    </select>
  </div>

  <div
    class="user-blogs"
    *ngFor="let blog of blogs"
    (click)="navigateBlog(blog.id)"
  >
    <div class="user-image-name-flex">
      <div class="user-image-container">
        <img
          [src]="
            blog.user.user_pic
              ? blog.user.user_pic
              : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuQo5Lw-BHj6ts6qC_vAlO1yblef_cVX8F1_sRgoAa6w&s'
          "
          alt="profile"
        />
      </div>
      <div class="name">
        {{ blog.user.username ? blog.user.username : blog.user.email }}
      </div>
    </div>

    <div class="container">
      <div>
        <div class="blog-title">
          {{ blog.title }}
        </div>
        <div class="blog-description">
          {{ blog.content }}
        </div>
      </div>
      <div>
        <div class="image-container">
          <img src="http://localhost:9000/{{ blog.blog_image }}" alt="" />
        </div>
      </div>
    </div>
    <div class="blog-date">
      {{ blog.createdAt | date : "dd MMM yyyy, h:mm a" }}
    </div>
  </div>
</div>
