.medium-container {
  display: flex;
  justify-content: center;
}

.flex-div {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.left-container {
  flex: 3;
}

.right-container {
  flex: 1.2;
}

hr {
  border: 0.5px solid #f0eaea;
}
