.profile-right-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-pic {
  width: 80px;
  height: 80px;
}

.profile-pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
}

.followers,
.bio {
  color: rgb(92, 90, 90);
  font-size: 14px;
}

.edit-profile-link {
  color: green;
  font-size: 14px;
  cursor: pointer;
}

.following-title {
  font-weight: bold;
}

.list-following {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flex-users {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.user-image-container {
  width: 25px;
  height: 25px;
}

.name {
  font-size: 15px;
}

.user-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.option-user-following {
  color: rgb(92, 90, 90);
  font-size: 14px;
  cursor: pointer;
}
