<app-profile-edit
  [showModel]="showModel"
  [editBlogLoading]="editBlogLoading"
  [user]="user"
  (edit)="edit($event)"
  (cancel)="cancelEdit()"
>
</app-profile-edit>

<div class="profile-right-container">
  <div class="profile-pic">
    <img
      [src]="
        user.user_pic
          ? user.user_pic
          : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuQo5Lw-BHj6ts6qC_vAlO1yblef_cVX8F1_sRgoAa6w&s'
      "
    />
  </div>
  <div class="user-name">
    {{ user.username ? user.username : user.email }}
  </div>
  <div class="followers" (click)="navigateToFollowers()">
    {{ getCountFollowers() }} Followers
  </div>

  <div class="bio">
    {{ user.bio ? user.bio : "" }}
  </div>

  <div class="edit-profile-link" (click)="editProfile()">Edit profile</div>

  <div class="following-title">Following</div>
  <div class="list-following">
    <ng-container *ngFor="let user of following">
      <div class="flex-users">
        <div class="user-image-container">
          <img
            [src]="
              user.user_pic
                ? user.user_pic
                : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuQo5Lw-BHj6ts6qC_vAlO1yblef_cVX8F1_sRgoAa6w&s'
            "
          />
        </div>
        <div>
          <div class="name">
            {{ user.user.username ? user.user.username : user.user.email }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="option-user-following" (click)="navigateToFollowing()">
    See all
  </div>
</div>
