<div class="confirmation-overlay" *ngIf="showModel">
  <div class="confirmation-box">
    <div class="edit">Edit Profile</div>
    <div class="model-body">
      <div>
        <div>
          <img [src]="user.user_pic" alt="user" />
        </div>
        <input type="file" />
      </div>
      <div>
        <input type="text" [(ngModel)]="user.username" />
      </div>
      <div>
        <input type="text" [(ngModel)]="user.bio" />
      </div>
    </div>

    <div class="confirmation-buttons">
      <button class="cancel-btn" (click)="cancelProfile()">Cancel</button>
      <button class="delete-btn" (click)="updateProfile()">Update</button>
    </div>
  </div>
</div>
